<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<div class="Frame">
    <div class="header">
        <span>Novi ulazni račun</span>
    </div>
    <div class="mainsection">
        <!--firs red-->
        <form #submitForm="ngForm" novalidate (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="form-group">
                    <div class="form-row">
                    <div class="col-2"> 
                        <label>Broj računa</label>
                        <input type="text" class="form-control" readonly [(ngModel)]="BrojRacuna" name="BrojRacuna" 
                            placeholder="Broj računa" tabindex="-1">
                    </div>
                    <div class="col-2">
                   
                        <label>Evidencijski broj</label><span *ngIf="submitForm.controls['evidencijskiBroj']?.errors?.required">   *</span>
                        <input type="text" id="evidencijskiBroj" class="form-control"  [(ngModel)]="evidencijskiBroj"
                        name = "evidencijskiBroj" placeholder="Evidencijski broj" required>
                        <span *ngIf="evidencijskiBroj == null" id="evidencijskiBrojValidacija" class="invalid-feedback"> 
                            Evidencijski broj je obavezno polje
                        </span>
                    </div>
                    <div class="col">
                        <label>Broj računa dobavljača</label><span *ngIf="submitForm.controls['brojDobavljaca']?.errors?.required">   *</span>
                        <input type="text" class="form-control" [(ngModel)]="brojDobavljaca" name = "brojDobavljaca"placeholder="Broj dobavljača" required>
                        <span *ngIf="brojDobavljaca == null" id="brojDobavljacaValidacija" class="invalid-feedback"> 
                            Broj računa dobavljača je obavezno polje
                        </span>
                    </div>
                    <div class="col">
                        <label for="inputState">Dobavljač</label><span *ngIf="customer == null">   *</span>
                        <input type="button" value="Dodaj dobavljača" readonly class="form-control" *ngIf="customer==null" (click)="Get(content)">
                        <input type="button" readonly class="form-control"  *ngIf="customer!=null" [(ngModel)]="customer.naziv" name="cust" name="naziv" (click)="Get(content)">
                        <span id="kupacValidacija" class="invalid-feedback"> 
                            Kupac/Dobavljač nije odabran 
                        </span>
                    </div>
                    </div>
                    <hr> 
                <!--second row-->

                    <div class="form-row">
                        <div class="col position-relative">
                            <label>Današnji datum</label><span *ngIf="">   *</span>
                            <input matInput #datumDanas [matDatepicker]="pickerDatumDanas" [formControl]="dateDatumDanas" class="w-100" 
                                style="padding: 6px 12px; border: 1px solid #ced4da; border-radius: .25rem;">
                            <mat-datepicker-toggle style="position: absolute; width: 100%; left: 0; opacity: 0;" matSuffix 
                                [for]="pickerDatumDanas" tabindex="-1"></mat-datepicker-toggle>
                            <mat-datepicker #pickerDatumDanas></mat-datepicker>
                        </div>
                        <div class="col position-relative">
                            <label>Datum računa</label><span *ngIf="">   *</span>
                            <input matInput #datumRacuna [matDatepicker]="pickerDatumRacuna" [formControl]="dateDatumRacuna" class="w-100" 
                                style="padding: 6px 12px; border: 1px solid #ced4da; border-radius: .25rem;"
                                (dateChange)="changeDatumRacuna(datumRacuna.value)">
                            <mat-datepicker-toggle style="position: absolute; width: 100%; left: 0; opacity: 0;" matSuffix 
                                [for]="pickerDatumRacuna" tabindex="-1"></mat-datepicker-toggle>
                            <mat-datepicker #pickerDatumRacuna></mat-datepicker>
                        </div>
                        <div class="col position-relative">
                            <label>Datum Dospijeća</label><span *ngIf="">   *</span>
                            <input matInput [matDatepicker]="pickerDatumDospijeca" [formControl]="dateDatumDospijeca" class="w-100" 
                                style="padding: 6px 12px; border: 1px solid #ced4da; border-radius: .25rem;">
                            <mat-datepicker-toggle style="position: absolute; width: 100%; left: 0; opacity: 0;" matSuffix 
                                [for]="pickerDatumDospijeca" tabindex="-1"></mat-datepicker-toggle>
                            <mat-datepicker #pickerDatumDospijeca></mat-datepicker>
                        </div>
                        <!-- <div class="col">
                            <label>Današnji datum</label><span *ngIf="submitForm.controls['datum']?.errors?.required">   *</span>
                            <input type="date" [(ngModel)]="racuni.datum" name="datum" class="form-control" required>
                        </div>
                        <div class="col">
                            <label>Datum računa</label><span *ngIf="submitForm.controls['datumRacuna']?.errors?.required">   *</span>
                            <input type="date" [(ngModel)]="racuni.datumRacuna" name="datumRacuna" class="form-control" required>
                        </div>
                        <div class="col">
                            <label>Datum dospijeća</label><span *ngIf="submitForm.controls['datumDospjeca']?.errors?.required">   *</span>
                            <input type="date" [(ngModel)]="racuni.datumDospjeca" name="datumDospjeca" class="form-control" required>
                        </div> -->
                    </div>
                <!--third row-->

                    <div class="form-row">
                        <div class="col">
                            <label for="inputState">Skladište</label><span *ngIf="submitForm.controls['skladisteId']?.errors?.required">   *</span>
                            <select id="inputState" [(ngModel)]="racuni.skladisteId" name="skladisteId"class="custom-select" required>
                                <option *ngFor="let item of skladista" value="{{item.skladisteId}}">{{item.naziv}}</option>
                            </select>
                            <span *ngIf="!racuni.hasOwnProperty('skladisteId')" id="skladisteValidacija" class="invalid-feedback"> 
                                Skladište nije odabrano
                            </span>
                        </div>
                        <div class="col">
                            <label for="inputState">Vrsta plaćanja</label><span *ngIf="submitForm.controls['vrstaPlacanjaId']?.errors?.required">   *</span>
                            <select id="inputState" [(ngModel)]="racuni.vrstaPlacanjaId" name="vrstaPlacanjaId" class="custom-select" required>
                                <option *ngFor="let item of vrstePlacanja" value="{{item.vrstaPlacanjaId}}">{{item.naziv}}</option>
                            </select>
                            <span *ngIf="!racuni.hasOwnProperty('vrstaPlacanjaId')" id="vrstaPlacanjaValidacija" class="invalid-feedback"> 
                                Vrsta plaćanja nije odabrana
                            </span>
                        </div>
                        <div class="col">
                            <label for="inputState">Valuta</label><span *ngIf="submitForm.controls['valuta']?.errors?.required">   *</span>
                            <select id="inputState" [(ngModel)]="racuni.valutaId" name="valuta" class="valuta" class="custom-select" required>
                                <option *ngFor="let item of valute" value="{{item.valutaId}}">{{item.oznaka}}</option>
                            </select>
                            <span *ngIf="!racuni.hasOwnProperty('valutaId')" id="valutaValidacija" class="invalid-feedback"> 
                                Valuta nije odabrana
                            </span>
                        </div>
                    </div>
                <!--fourth row-->
                <div class="form-row">
                    
                    <div class="col-2">
                        <label>Iznos bez PDV</label><span *ngIf="submitForm.controls['iznosBezPDV']?.errors?.required">   *</span>
                        <input type="number" [(ngModel)]="iznosracun" name="iznosBezPDV" class="form-control"(input)="pdvIzracun()" required>
                        <span *ngIf="iznosracun == 0">Iznos ne smije biti 0!</span>
                        <span *ngIf="iznosracun == null" id="iznosValidacija" class="invalid-feedback"> 
                            Iznos je obavezno polje
                        </span>
                    </div>
                    <div class="col-2">
                        <label>PDV</label><span *ngIf="submitForm.controls['PDV']?.errors?.required">   *</span>
                        <input type="number" [(ngModel)]="pdv" name="PDV" class="form-control"(input)="pdvIzracun()" required>
                        <span *ngIf="pdv == 0">Iznos ne smije biti 0!</span>
                        <span *ngIf="pdv == null" id="PDVValidacija" class="invalid-feedback"> 
                            PDV je obavezno polje
                        </span>
                    </div>
                    <div class="col-2">
                        <label>Iznos sa PDV</label><span *ngIf="submitForm.controls['iznosSaPDV']?.errors?.required">   *</span>
                        <input type="number" [(ngModel)]="iznosPDV" name="iznosSaPDV" class="form-control" required>
                        <span *ngIf="iznosPDV == 0">Iznos ne smije biti 0!</span>
                        <span *ngIf="iznosPDV == null" id="iznosPDVValidacija" class="invalid-feedback"> 
                            Iznos sa PDV je obavezno polje
                        </span>
                    </div>     
                </div>
                
                <!--fifth row-->
                <div class="form-row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" [(ngModel)]="racuni.placen" name="PlacenRacun" type="checkbox" value="" id="invalidCheck2">
                            <label class="form-check-label" for="invalidCheck2">Plaćen račun
                            </label>
                        </div>
                    </div>
                </div>
                <!--Sixth row-->
                <div class="form-row">
                    <div class="col">
                        <label for="exampleFormControlTextarea1">Napomena</label>
                        <textarea class="form-control" [(ngModel)]="racuni.napomena" name="napomena" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
            <!--Buttons-->
            </div>
            <div class="form-row position-relative">
                <div class="col">
                    <button type="button" (click)="Zatvori()" class="btn btn-danger">Otkaži</button>
                    <button type="submit" class="btn btn-info" [disabled]="submitForm.invalid || iznosracun == 0 || pdv == 0 || iznosPDV == 0">Sačuvaj</button>
                </div>
                <button *ngIf="submitForm.invalid || iznosracun == 0 || pdv == 0 || iznosPDV == 0" type="button" class="btn btn-info position-absolute btn-validator" (click)="validationForm()">Sačuvaj</button>
            </div>
        </form>
            
    </div>
    <ng-template #content let-modal >
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Dobavljači</h4>
        </div>
        <div class="modal-body">
          <form>     
              <div class="rowActions">     
    <!--dropdowngrupa-->            
    <!--Search-->
                <div class="rowActions">    <!--Search-->
                    <div class="input-group">
                        <input placeholder="Pretraži" type="text" class="form-control" #pretraga (input)="filterPoNazivuKupac(pretraga)">
                        <div class="input-group-prepend">                        
                                <span class="input-group-text" id="basic-addon1"><i class='bx bx-search' ></i></span>
                        </div>
                    </div>
                </div>
    
              </div>
                <table class="tableModalItems table">
                  <thead>
                      <tr>
                          <th>Šifra</th>
                          <th>Naziv</th>
                          <th>Adresa</th>
                          <th>Mjesto</th>
                      </tr>
                  </thead>
                  <tbody >
                      <tr *ngFor="let item of customers" (click)="getCustomerById(item.kupacId)">
                          <td data-label="Šifra">{{item.sifra}}</td>
                          <td data-label="Naziv">{{item.naziv}}</td>
                          <td data-label="Adresa">{{item.adresa}}</td>                          
                          <td data-label="Mjesto">{{item.gradNaziv}}</td>                          
                      </tr>
                  </tbody>
              </table>
          </form>
        </div>
      </ng-template>
</div>


