<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<div class="tableFrame">
  <div class="header">
    <div class="headerSpan">
      <span>Otpremnica</span>
    </div>
  </div>
  <div class="underHeader">
    <!-- <input placeholder="Pretraži" type="text" class="form-control" #pretraga (input)="filterPoNazivu(pretraga)">
    <button routerLink="/adminpanel/addOtpremnica" class="addInputs">Dodaj otpremnicu</button> -->
    <div class="row">
      <div class="col-4">
        <label class="w-100 text-start pb-1" style="font-size: 14px;">Pretraga po kupcima</label>
        <input placeholder="Pretraži" type="text" class="form-control" #pretraga (input)="filterPoNazivu(pretraga)">
      </div>
      <div class="position-relative col-4">
        <label class="w-100 text-start pb-1" style="font-size: 14px;">Pretraga po datumu otpremnice</label>
        <div class="d-flex position-relative">
          <input id="filterDatumRacuna" matInput #datumRacuna [matDatepicker]="pickerDatumRacuna" [formControl]="dateDatumRacuna" class="w-100" 
          style="padding: 6px 12px; border: 1px solid #ced4da; border-radius: 25px 0 0 25px;"
          (dateChange)="filterDatumRacuna()">
          <mat-datepicker-toggle style="position: absolute; width: 85%; left: 0; opacity: 0;" matSuffix 
          [for]="pickerDatumRacuna" tabindex="-1"></mat-datepicker-toggle>
          <mat-datepicker #pickerDatumRacuna></mat-datepicker>
          <button type="button" class="btn btn-primary" (click)="clearFilterDatumRacuna()"
            style="width: 35px; border-radius: 0 25px 25px 0; background-color: #dba6f4; border-color: #dba6f4;
            cursor: pointer;">
            x 
          </button>
        </div>
      </div>
    </div>
    <div>
      <button routerLink="/adminpanel/addOtpremnica" class="addInputs">Dodaj otpremnicu&nbsp;<i class="bi bi-plus"></i></button>
    </div>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th>Redni broj</th>
      <!-- <th>Evidencijski broj</th> -->
      <th>Kupac</th>
      <th>Datum</th>
      <th>Rok plaćanja</th>
      <th>Skladište</th>
      <!-- <th>FIS broj</th> -->
      <th>Iznos</th>
      <th>Plaćen</th>
      <th>Akcije</th>
    </tr>
    </thead>
    <tbody >
    <tr *ngFor="let item of otpremnice">
      <td data-label="Redni broj">{{item.brojRacuna}}</td>
      <td data-label="Kupac">{{item.nazivKupca}}</td>
      <td data-label="Datum">{{item.datumRacuna | date: 'dd.MM.yyyy'}}</td>
      <td data-label="Rok plaćanja">{{item.datumDospjeca | date: 'dd.MM.yyyy'}}</td>
      <td data-label="Skladište">{{item.nazivSkladista }}</td>
      <!-- <td data-label="FIS broj">{{item.fisbroj}}</td> -->
      <td data-label="Iznos">{{item.iznosSaPdv}}</td>
      <td data-label="Plaćen"><input type="checkbox" name="" id=""></td>
      <td class="actions">
        <button class="btnuredi" (click)="Get(content, item.racunId)"><i class="bi bi-card-checklist"></i>&nbsp;Stavke</button>
        <button class="btnuredi" routerLink="/adminpanel/editOtpremnica/{{item.racunId}}"><i class="bi bi-pencil-square"></i>Uredi</button>
        <button class="btnobrisi" (click)="Delete(content2, item)" a routerLink="/adminpanel/otpremnice"><i class="bi bi-card-text"></i>Obriši</button>
      </td>

      <!--Delete modal-->
      <ng-template #content2 let-modal>
        <div class="modal-header">
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-append">
                  <h6>Da li ste sigurni da želite obrisati?</h6>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ne</button>
          <button type="button" class="btn btn-outline-dark"  (click)="DeleteOtpremnica()">Da</button>
        </div>
      </ng-template>
      <!--End delete modal-->
    </tr>
    </tbody>
  </table>
  <br>
  <br>
  <br>
  <ngb-pagination id="pageing" [collectionSize]="otpremnice.length" [pageSize]="itemsPerPage"
                  [(page)]="currentPage" [maxSize]="10" (pageChange)="onPageChange(currentPage)"></ngb-pagination>
  <!--Get stavke-->
  <ng-template #content let-modal >
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Stavke otpremnice</h4>
    </div>
    <div class="modal-body">
      <form>
        <table class="tableModalItems table">
          <thead>
          <tr>
            <th>Redni broj</th>
            <th>Sifra</th>
            <th>Naziv</th>
            <th>Kolicina</th>
            <th>Jedinica mj</th>
            <th>Cijena</th>
            <th>Rabat</th>
            <th>VPC</th>
            <th>PDV</th>
            <th>MPC</th>
          </tr>
          </thead>
          <tbody *ngFor="let item of stavkeBazaPrikaz; let i = index">
          <!-- <tr *ngIf="item.otpremnicaId==idOtpremnice"> -->
            <td data-label="Redni broj">{{i + 1}}</td>
            <td data-label="Sifra artikla">{{item.sifraArtikla}}</td>
            <td data-label="Naziv artikla">{{item.nazivArtikla}}</td>
            <td data-label="Kolicina">{{item.kolicina}}</td>
            <td data-label="Jedinica mjere">{{item.jedMjereNaziv}}</td>
            <td data-label="Cijena">{{item.cijenaBezPdv}}</td>
            <td data-label="Rabat">{{item.rabat}}</td>
            <td data-label="VPC">{{item.vpc}}</td>
            <td data-label="PDV">17</td>
            <td data-label="MPC">{{item.mpc}}</td>

          <!-- </tr> -->
          </tbody>
        </table>
      </form>
    </div>
  </ng-template>
</div>
